<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/main.css"> 
</head>

<body>
    <main class="container">
        <h1>CS-546 Lab8</h1>
        <article>
            <header>
                <h2>Palindromes Checker</h2>
            </header>
            <p>A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation). For example, the following phrases are palindromes:</p>
            <div class="example">
                <ul>
                    <li>Madam</li>
                    <li>Was it a cat I saw?</li>
                    <li>He did, eh?</li>
                    <li>Go hang a salami, I’m a lasagna hog.</li>
                    <li>Poor Dan is in a droop</li>
                </ul>
            </div>
            
        </article>
        <div class="row">
                <div class="col-sm-6">
                    {{{body}}}
                </div>
            </div>
        <footer>@Huidi Jia 10414054</footer>
    </main>

    <script src="/public/js/form.js"></script>
</body>

</html>